version: "3"
services:
  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}

  adminer:
    image: adminer
    links:
      - postgres:${DB_HOST_NAME}
    ports:
      - ${ADMINER_PORT}:8080
  
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    ports: 
      - ${RABBITMQ_ADMIN_PORT}:15672
      - ${RABBITMQ_TCP_PORT}:5672
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
