_format_version: "2.1"

services:
  - name: about-page-service
    url: http://about-page-api:8002/about
    routes:
      - name: about-page-api-public
        paths: [/about]
        methods: [GET]
      - name: about-page-api-private
        paths: [/about]
        methods: [POST, PUT, DELETE]
        plugins:
        - name: basic-auth
          route: about-page-api-private
          config: 
            hide_credentials: true
        - name: jwt
          route: about-page-api-private
          config:
            secret_is_base64: true
            maximum_expiration: 604800 # 1 week

consumers:
  - username: {CONSUMER}
    custom_id: {CONSUMER_ID}

basicauth_credentials:
- consumer: {CONSUMER}
  username: 
  password: 



