services:

  rabbitmq-db:
    image: mongo
    container_name: rabbitmq-db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_ADMINUSERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ADMINPASSWORD}
      MONGO_INITDB_DATABASE: ${MONGODB_DATABASE}

  mongo-express:
    image: mongo-express 
    container_name: rabbitmq-mongo-express
    links:
      - rabbitmq-db:${DB_HOST_NAME}
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_OPTIONS_EDITORTHEME: "ambience"
      ME_CONFIG_MONGODB_SERVER: ${DB_HOST_NAME}
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGODB_ADMINUSERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGODB_ADMINPASSWORD}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_ADMINPASSWORD}

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    links:
      - rabbitmq-db:${DB_HOST_NAME}
    ports: 
      - ${RABBITMQ_ADMIN_PORT}:15672
      - ${RABBITMQ_TCP_PORT}:5672
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

